@model IEnumerable<PharmaDomain.VenteMedi>
@{
    ViewBag.Title = "Ventes";
}

<h2>Liste des Ventes</h2>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr class="text-center success">
            <th>@Html.DisplayNameFor(e => e.NumVente)</th>
            <th>Date</th>
            <th>@Html.DisplayNameFor(e=>e.CodeMedicament)</th>
            <th>Prix Unitaire</th>
            <th>Quantite</th>
            <th>Prix total</th>
            <th>Supprimer</th>
        </tr>
    </thead>
    <tbody class="text-center">
        @{
            foreach (PharmaDomain.VenteMedi v in Model)
            {
                <tr>
                    <td>@v.NumVente</td>
                    <td>@InstanceResolver.Instance.Vente.GetOneVenteById(v.NumVente).DateVente</td>
                    <td>@InstanceResolver.Instance.Medicament.GetOneMedicamentById(v.CodeMedicament).LibelleMedicament</td>
                    <td>@InstanceResolver.Instance.Medicament.GetOneMedicamentById(v.CodeMedicament).Prix</td>
                    <td>@v.QuantiteMedicament</td>
                    <td>@InstanceResolver.Instance.Vente.GetOneVenteById(v.NumVente).MontantVente</td>
                    <td><a href='@Url.Action("Delete","Vente",new { id = @v.NumVente })'><img src="~/Content/img/delete.png" /></a></td>
                </tr>
            }
        }
    </tbody>
</table>